body {
    font-family: sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.title {
    color: #2563eb; /* Biru */
    font-weight: bold;
    font-size: 1.2rem;
}